In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel("/content/rpi11b@2018-05-30@16-06-22.xlsx")
df2 =pd.read_excel("/content/rpi11b@2018-06-06@11-15-35.xlsx")
df3 =pd.read_excel("/content/rpi11b@2018-06-06@18-16-46.xlsx")
df4 =pd.read_excel("/content/rpi11b@2018-06-16@09-00-10.xlsx")
df5 =pd.read_excel("/content/rpi11b@2018-07-01@12-56-03.xlsx")
df6 =pd.read_excel("/content/rpi11b@2018-07-01@15-11-28.xlsx")
df7 =pd.read_excel("/content/rpi11b@2018-07-24@14-16-14.xlsx")
df8 =pd.read_excel("/content/rpi11b@2018-07-30@16-11-39.xlsx")
df9 =pd.read_excel("/content/rpi12b@2018-06-13@19-21-57.xlsx")
df10 =pd.read_excel("/content/rpi12b@2018-07-31@10-20-36.xlsx")
df11 =pd.read_excel("/content/rpi12b@2018-07-31@20-12-16.xlsx")
df12 =pd.read_excel("/content/rpi12b@2018-08-07@08-10-13.xlsx")
df13 =pd.read_excel("/content/rpi1b@2017-07-03@08-12-02.xlsx")
df14 =pd.read_excel("/content/rpi1b@2017-07-03@12-20-41.xlsx")
df15 =pd.read_excel("/content/rpi1b@2017-07-03@15-49-12.xlsx")
df16 =pd.read_excel("/content/rpi1b@2017-07-16@17-29-28.xlsx")
df17 =pd.read_excel("/content/rpi21@2016-06-02@10-51-43.xlsx")
df18 =pd.read_excel("/content/rpi21@2016-06-02@14-10-32.xlsx")
df19 =pd.read_excel("/content/rpi21@2016-06-02@17-35-22.xlsx")
df20 =pd.read_excel("/content/rpi21@2016-07-14@19-45-19.xlsx")
df21 =pd.read_excel("/content/rpi22@2016-05-29@08-06-02.xlsx")
df22 =pd.read_excel("/content/rpi22@2016-05-29@11-03-46.xlsx")
df23 =pd.read_excel("/content/rpi22@2016-05-29@17-41-24.xlsx")
df24 =pd.read_excel("/content/rpi22@2016-06-24@10-33-54.xlsx")
df25 =pd.read_excel("/content/rpi22@2016-06-24@19-24-07.xlsx")
df26 =pd.read_excel("/content/rpi24@2018-06-24@08-30-05.xlsx")
df27 =pd.read_excel("/content/rpi24@2018-06-24@11-25-28.xlsx")
df28 =pd.read_excel("/content/rpi24@2018-06-24@15-10-58.xlsx")
df29 =pd.read_excel("/content/rpi24@2018-07-12@13-35-45.xlsx")
df30 =pd.read_excel("/content/rpi24@2018-07-12@19-36-33.xlsx")
df31 =pd.read_excel("/content/rpi4-1@2021-06-19@11-31-10.xlsx")
df32 =pd.read_excel("/content/rpi4-1@2021-06-19@14-02-06.xlsx")
df33 =pd.read_excel("/content/rpi4-1@2021-06-19@20-09-03.xlsx")
df34 =pd.read_excel("/content/rpi4-1@2021-07-09@09-00-31.xlsx")
df35 =pd.read_excel("/content/rpi4-1@2021-07-09@13-06-46.xlsx")
df36 =pd.read_excel("/content/rpi4-1@2021-07-09@14-01-59.xlsx")
df37 =pd.read_excel("/content/rpi4-1@2021-07-28@10-56-00.xlsx")
df38 =pd.read_excel("/content/rpi4-2@2021-06-11@17-42-02.xlsx")
df39 =pd.read_excel("/content/rpi4-1@2021-07-09@14-01-59.xlsx")
df40 =pd.read_excel("/content/rpi4-1@2021-07-09@20-18-39.xlsx")
df41 =pd.read_excel("/content/rpi4-1@2021-07-28@15-38-32.xlsx")
df42 =pd.read_excel("/content/rpi4-2@2021-07-11@07-15-18.xlsx")
df43 =pd.read_excel("/content/rpi4-2@2021-07-11@09-52-46.xlsx")
df44 =pd.read_excel("/content/rpi4-2@2021-07-11@13-52-05.xlsx")
df45 =pd.read_excel("/content/rpi4-2@2021-07-11@20-28-59.xlsx")

In [ ]:
df_Test = pd.concat([df1, df2])
df_Test

                     Name       Date      Time
0       rpi11bfol13_0.jpg 2028-05-30  16:06:22
1    rpi11bfol13_1005.jpg 2028-05-30  16:06:22
2    rpi11bfol13_1020.jpg 2028-05-30  16:06:22
3    rpi11bfol13_1035.jpg 2028-05-30  16:06:22
4     rpi11bfol13_105.jpg 2028-05-30  16:06:22
..                    ...        ...       ...
115   rpi11bIWayM_930.jpg 2018-06-06  11:15:35
116   rpi11bIWayM_945.jpg 2018-06-06  11:15:35
117   rpi11bIWayM_960.jpg 2018-06-06  11:15:35
118   rpi11bIWayM_975.jpg 2018-06-06  11:15:35
119   rpi11bIWayM_990.jpg 2018-06-06  11:15:35

[240 rows x 3 columns]

In [ ]:
df = pd.concat([df1, df2, df3, df4, df5,df6, df7, df8, df9, df10, df11, df12, 
                df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, 
                df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, 
                df33, df34, df35, df36, df37, df38, df39, df40, df41, df42, 
                df43, df44, df45])
df

                     Name       Date      Time
0       rpi11bfol13_0.jpg 2028-05-30  16:06:22
1    rpi11bfol13_1005.jpg 2028-05-30  16:06:22
2    rpi11bfol13_1020.jpg 2028-05-30  16:06:22
3    rpi11bfol13_1035.jpg 2028-05-30  16:06:22
4     rpi11bfol13_105.jpg 2028-05-30  16:06:22
..                    ...        ...       ...
115   rpi4-2wPWIc_930.jpg 2021-07-11  20:28:59
116   rpi4-2wPWIc_945.jpg 2021-07-11  20:28:59
117   rpi4-2wPWIc_960.jpg 2021-07-11  20:28:59
118   rpi4-2wPWIc_975.jpg 2021-07-11  20:28:59
119   rpi4-2wPWIc_990.jpg 2021-07-11  20:28:59

[5399 rows x 3 columns]

In [ ]:
df.to_csv('dataset.csv')
df.to_excel('datasetExcel.xlsx')